/ ul
/   li.average-review-rating data-score="#{gym.reviews.average(:rating)}"
/   li.average
/     | (
/     = gym.reviews.average(:rating)
/     | )
/ .number-of-reviews
/   = gym.reviews.count
/   | 件のレビュー 

/ javascript:
/   $('.average-review-rating').raty({
/     size: 20,
/     readOnly: true,
/     path: '/assets/',
/     score: function() {
/       return $(this).attr('data-score')
/     }
/   });