
 @import "bootstrap";

 body {
   font-family: 'Arial Rounded MT Bold','Trebuchet MS','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
   background-color: #f7f7f7;
 }
 .top-page h3 {
   margin-top: 30px;
 }
 

 .gym-info {
   margin-top: 50px;
   h2.gym-name {
     margin-top: 10px;
   }
   .reviews ul {
    padding-left: 0;
    height: 24px;
    margin-bottom: 10px;
    li {
    display: inline-block;
    
  }.average {
    padding-left: 5px;
  } }
  .number-of-reviews {
    display: block;
  }
 }

 .container-login {
   @extend .container-fluid;
   max-width: 576px;
   padding: 2rem;
 }
//  .alert-notice {
//    @extend .alert-info;
//  }

//  .alert-alert {
//    @extend .alert-danger;
//  }
 .navbar {
   padding: .2rem;
  }
 .nav-link {
   font-size: 1.1em !important;
   margin-right: 10px;
 }
 .jumbotron {
   padding-top: 100px;
   padding-bottom: 80px;
   background: image_url("header.jpeg");
   background-size: cover;
   background-position: 50% 50%;
   .display-3 {
     text-shadow: 1px 1px 8px #000;
   } 
   .sub {
    padding-left: 1em;
  }
   h3 {
    margin-top: 10px;
    text-shadow: 1px 1px 5px #000;
    font-weight: bold;
   }
   button {
     margin-top: 20px;
     margin-left: 20px;
   }
 }
 
.index-card {
  margin-bottom: 30px;
  margin-left: 15px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
  border-radius: 10px 10px 10px 10px;
  .card-img-top {
    border-radius: 10px 10px 0 0;
  }
  .card-body {
    padding: 10px;
    .card-title {
      display: block;
      height: 30px;
    }
    .reviews ul {
      padding-left: 0;
      li {
      text-align: left;
      display: inline-block;
    }}
    
    .number-of-reviews {
      display: inline-block;
    }
    .area-name {
      padding-left: 1rem;
    }
  }
}

.like-btn-unlike {
  color: red;
  size: 30px;
}
.thumbs-up-blue {
  color: blue;
}
.gym-pictures {
  display: inline-block;
  width: 100px;
  height: 100px;
}