
 @import "bootstrap";
 @import "bootstrap-social";
 @import "font-awesome";
 html {
   height: 100%;
 }
 body {
   font-family: 'Arial Rounded MT Bold','Trebuchet MS','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
   background-color: #f7f7f7;
   height: 100%;
   #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
  }
 }

 .top-page h3 {
   margin-top: 30px;
 }
 
// ジムの詳細
 .gym-info {
   margin-top: 50px;
   .c {
     width: 100%;
     height: 500px;
    //  object-fit: cover;
   }
   h2.gym-name {
     margin-top: 10px;
   }
   .reviews-gym ul {
    padding-left: 0;
    height: 24px;
    margin-bottom: 5px;
    margin-top: 10px;
    li {
    display: inline-block;
    
  }.average {
    padding-left: 5px;
  } }
  .number-of-reviews {
    display: block;
  }
  .tags {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .badge {
    padding: 5px;
    margin: 1px;
  }
  .like-button {
    display: inline-block;
  }
  .share-button {
    margin-left: 10px;
    display: inline-block;
    .fa {
      font-size: 2rem;
      margin: .5rem .5rem 0 .5rem;
      position:relative;
      top: 5px;
      &:hover {
        color: #5cf5dc!important;
      }
    }
    .fa-facebook-square {
      color: #3c5c9a;
     }
     .fa-twitter-square {
      color: #00adee;
     }
  }
}
.reviews {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
//  フォーム
 .container-form {
  //  @extend .container-fluid;
  //  max-width: 640px;
   padding: 4rem;
   background-color: #fff;
   margin-top: 3em;
   margin-bottom: 3em;
   border-radius: 15px;
   box-shadow: 1px 1px 5px rgba(87, 87, 87, 0.25);
 }

// ナビバー
 .navbar {
   padding: .2rem;
  }
 .nav-link {
   font-size: 1.1em !important;
   margin-right: 10px;
   color: #499ce0 !important;
   &:hover {
     color: #5cf5dc !important;
   }
 }
 
 .jumbotron {
   padding-top: 100px;
   padding-bottom: 80px;
   background: image_url("header.jpeg");
   background-size: cover;
   background-position: 50% 50%;
   .display-3 {
     text-shadow: 1px 1px 8px #000;
   } 
   .sub {
    padding-left: 1em;
  }
   h3 {
    margin-top: 10px;
    text-shadow: 1px 1px 5px #000;
    font-weight: bold;
   }
   button {
     margin-top: 20px;
     margin-left: 20px;
   }
 }
 
//  ジムカード
.index-card {
  margin-bottom: 30px;
  margin-left: 15px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
  border-radius: 10px 10px 10px 10px;
  .card-img-top {
    border-radius: 10px 10px 0 0;
  }
  .card-body {
    padding: 10px;
    height: 170px;
    .card-title {
      display: block;
      height: 20px;
    }
    .reviews ul {
      padding-left: 0;
      margin-bottom: 5px;
      li {
      text-align: left;
      display: inline-block;
    }}
    
    .number-of-reviews {
      display: inline-block;
    }
    .area-name {
      padding-left: 0.5rem;
      text-align: right;
    }
  }
}

// お気に入りハート
.like_icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  color: #d7ccb6;
  border: 1px solid #eae6dc;
  background: #ffffff;
  cursor: pointer;
}
  .like-btn-red {
    color: red;
    size: 30px;
  }
.like-btn-gray {
  color: #d7ccb6;
}
.thumbs-up-blue {
  color: rgb(64, 107, 250);
}
.thumbs-up-gray {
  color: #d7ccb6;
}
#lightbox .lb-container {
  padding: 1px;
}

// ジムの複数写真
.pictures {
  margin-bottom: 3em;
  .gym-pictures {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 2px;
    border-color:#fff;
    border-radius: 6px;
  
    &:hover {
      background-color: rgb(8, 105, 250);
    }
  }
}

// 画像スライド
.slick-dots {
  li {
    font-size: 20px !important;
    button:before {
      content: "" !important;
      font-size: 14px !important;
      color: rgb(60, 60, 60) !important;
    }
  }
}
// ユーザー写真
.circle-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #fff;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

// ジム写真
.gym-images img {
  width: 150px;
  height: 150px;
  background-color: #fff;
  box-sizing: border-box;
  border: solid 1px rgb(109, 107, 107);
  object-fit: cover;
  display: block;
  margin: 10px;
}

// レビュー
.review {
  border-bottom: solid 1px rgb(220, 220, 221);
  .review-user {
    display: inline-block;
  }
  
  .review-user img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
    background-color: #fff;
  }
}
  .review-profile {
    position:relative;
    top: 10px;
    display: inline-block;
    padding: 10px;
    span {
      padding-left: 1em;
    }
    .average-review-rating img {
      margin-top: 5px;
    }
    .review-edit {
      display: inline-block;
    }
  }
  .review-comment p {
    margin-bottom: 0!important;
  }

.good {
  text-align: right;
  padding-bottom: 10px;
}
.profile {
  p {
    text-align: center;
    margin: 10px;
  }
  h5 {
    margin-top: 20px;
  }
  .liked_gym img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    margin: 5px;
    padding: 2px;
    background-color: #fff;
    &:hover {
      background-color: rgb(8, 105, 250);
    }
  }
}

.btn-custom {
  width: 80px;
	color: darken(#bdbdbd, 5%);
	background-color: #fff;
	border: 1px solid darken(#bdbdbd, 5%);
	padding: 6px 10px;
  border-radius: 8px;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
	&:hover {
		text-decoration: none;
		background-color: darken(#bdbdbd, 5%);
		color: #fff;
		transition: 0.5s;
	}
}

.btn-custom2 {
  width: 200px;
  display: block;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(-90deg,#6795fd 0%, #5cf5dc 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
  margin-right: auto;
  margin-left: auto;
  &:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
	}	
}
.sns-login {
  .btn {
    display: block;
    opacity: 0.9;
    margin-bottom: 5px;
    // width: 250px;
    text-align: center;
    &:hover {
      opacity: 1;
    }
  }
}
// .back_home {
//   display: block;
//   margin: 10px 0 0 auto;
// }

footer {
  background-color: #fff;
  margin-top: auto;
  img{
    margin-top: 5px;
  }
  a {
   .fa-facebook-square {
    font-size: 2rem;
    margin: .5rem;
    color: #3c5c9a;
    &:hover {
      color: #5cf5dc!important;
    }
   }
   .fa-twitter-square {
    font-size: 2rem;
    margin: .5rem;
    color: #00adee;
    &:hover {
      color: #5cf5dc!important;
    }
   }
  }
  .socket {
    width: 100%;
    border-top: 1px solid #b1bac4;
    margin-top: 0;
  }
  p {
    margin-bottom: 10px;
    color: #82aee0;
  }
}

.gym-images {
  margin-bottom: 10px;
  p {
    margin-bottom: 0px;
    margin-top: 10px;
  }
}